
 *{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
 
}
.stylish i{
  font-weight: 900;
  color: rgb(44, 62, 80);
  font-size: 1rem;
  margin: 0 10px;
  
}
.stylish {
  color: rgb(44, 62, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
}
  .whiteColor{
    color: white !important;
  }
.half{
  width: 100px;
  height: 5px ;
  background-color: rgb(44, 62, 80)
}
.bgwhite{
     background-color: white !important;

}
a{
  color: white
}
#home{
  background-color: #1ABC9C;
}
#avatar{
  height: 250px;
}
.start{
  font-size: 40px;
  font-weight: 700;
}
h1{
  text-transform:uppercase ;
  font-size: 40px;
  font-weight: 700;
}

#about-body{
  text-align: center;
  background-color: #1ABC9C;
}
#about-header{
  
text-align: center;}

#images-contaner{
  text-align: center;
}
.navbar, .footer{
  background-color: #2C3E50 !important;
  color: white!important;
  padding: 20px;
  z-index: 500;
}
.navbar-brand{
    color: white!important;
  font-size: 2.5rem;

}
ul{
  font-size: 1rem;
  font-weight: 700;
  list-style: none !important;
    text-transform: uppercase;

}
ul li{
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.5s;
}
ul li:hover{
    background-color: #1ABC9C;
    color: white;
}
.margine{
  background-color: #1A252F;
  color: white;
}

.navsec{
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
}
form input{
  border-radius: 8px;
  background-color: white;
  border: none;
  border-bottom: black 1px solid;
  padding: 5px 2px ;
  display: block;
  margin: 10px o;
}
.contact{
  color: rgb(44, 62, 80);
}
button{
  background-color: #1ABC9C;
  color: white;
  text-transform: capitalize;
}

#icon i{
border-radius: 55%;
border: 1px white solid;
padding: 5px 10px;
text-align: center;
margin: 0 5px;
}
.port-image{
  position: relative;

}
.layer{
  position: absolute;
  top: 0;
  left: 24px;
  bottom: 0;
  right: 24px;
  background-color: #1abc9cc6;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.layer i{
  color: white;
  font-size: 6rem;
}
.port-image:hover .layer{
  opacity: 1;
}
